.card {
    @include radius;
    @include box-shadow;
    background-color: #ffffff;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

    img {
        object-fit: cover;
        transition: transform 0.5s;
    }

    .card-image {
        overflow: hidden;
        border-radius: rc(4) rc(4) 0 0;
    }

    h4 {
        @media all and (min-width: #{$md}) {
            font-size: rc(22);
            line-height: rc(30);
        }
    }

    .card-cats {
        color: grey;
    }

    .card-date {
        color: black;
    }

    small {
        font-size: rc(12);
        font-weight: 400;
        display: block;
    }

    &:hover {
        @include box-shadow-hover;

        img {
            transform: scale(1.05);
        }
    }
}
