@layer components {
    button,
    input[type='submit'],
    .btn {
        background-color: transparent;
        font-family: $font_type;
        @include regular-text;
        font-weight: 400;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        row-gap: rc(10);
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        @media all and (min-width: #{$md}) {
            padding: rc(12) rc(24);
        }

        &.btn-huge {
            font-size: rc(18);
            padding: rc(14) rc(30);
        }

        &.btn-small {
            font-size: rc(14);
            padding: rc(4) rc(12);
        }

        &.load-more {
            &:after {
                content: '';
                background-image: url(./../assets/icons/icon-loading.svg);
                width: rc(20);
                height: rc(20);
                display: none;
                margin: 0 0 rc(-6) rc(8);
                animation: spinning 0.6s linear infinite;
                animation-play-state: paused;
            }

            &.loading:after {
                display: inline-block;
                animation-play-state: running;
            }
        }

        &:disabled {
            @apply bg-gray-400 text-gray-700 cursor-not-allowed hover:bg-gray-400;
        }
    }

    @keyframes spinning {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    input[type='submit'] {
        @apply bg-black/60 text-white;

        * {
            @apply text-white;
        }

        &:hover {
            @apply bg-black/80;
        }

        &:active {
            @apply bg-black;
        }
    }

    .no-btn {
        @apply bg-transparent p-0 border-none;
    }

    [href^='#'] {
        * {
            @apply pointer-events-none;
        }
    }
}
