#main-menu {
    @apply fixed bottom-0 pt-4 overflow-auto left-0 right-0 hidden w-full bg-white top-[64px] md:top-[72px] lg:flex lg:relative lg:bg-transparent lg:top-0 lg:items-center lg:pt-0 lg:justify-center lg:overflow-visible;

    .main-menu-wrapper {
        @apply w-full;

        & > ul {
            @apply flex flex-col pb-12 lg:flex-row lg:pb-0 lg:justify-center;

            li {
                &.top-level {
                    @apply flex flex-col lg:py-2 lg:mx-6 xl:mx-10 lg:first-of-type:ml-0 lg:last-of-type:mr-0;

                    &.menu-item-has-children {
                        @apply lg:relative;

                        &:hover {
                            > .sub-menu {
                                @apply lg:flex lg:opacity-100;
                            }

                            .sub-menu-toggle-button {
                                @apply lg:rotate-180;
                            }
                        }
                    }

                    // Top level acnhors
                    a {
                        @apply lg:text-lg;
                    }
                }

                // All anchors
                a {
                    @apply flex font-medium uppercase font-space text-xl text-black px-4 py-2 lg:text-white lg:p-0;
                }

                // Container for when the link has a sub-menu
                .menu-item-with-arrow {
                    @apply flex items-center justify-between w-full lg:w-auto lg:justify-start lg:gap-x-2;

                    // Anchor with dropdown arrow
                    a {
                        @apply flex-1 lg:flex-auto;
                    }

                    .sub-menu-toggle-button {
                        @apply self-stretch px-2 py-0 lg:w-4 lg:h-4 lg:p-0 lg:ml-auto lg:self-auto;

                        .material-icons-round {
                            @apply text-4xl text-black duration-300 pointer-events-none lg:text-white lg:text-2xl;
                        }

                        &.active {
                            @apply rotate-180;
                        }
                    }
                }
            }
        }
    }
}

.site-header {
    &.dark-text {
        .logo-light {
            @apply hidden;
        }

        .logo-dark {
            @apply block;
        }

        .logo-img,
        .nav-right a,
        .nav-right button,
        .sub-menu-toggle-button,
        .sub-menu a,
        li a {
            &:focus-within {
                outline: 1px dashed #000;
            }
        }

        #burger-icon,
        #main-menu .main-menu-wrapper > ul li a,
        #main-menu .main-menu-wrapper > ul li .menu-item-with-arrow .sub-menu-toggle-button .material-icons-round {
            @apply text-black;
        }

        &.bg-background-black {
            .logo-light {
                @apply block;
            }

            .logo-dark {
                @apply hidden;
            }

            .logo-img,
            .nav-right a,
            .nav-right button,
            .sub-menu-toggle-button,
            .sub-menu a,
            li a {
                &:focus-within {
                    outline: 1px dashed #fff;
                }
            }

            #burger-icon,
            #main-menu .main-menu-wrapper > ul li a,
            #main-menu .main-menu-wrapper > ul li .menu-item-with-arrow .sub-menu-toggle-button .material-icons-round {
                @apply text-white;
            }
        }
    }
}

.mobile-menu-open {
    @apply overflow-hidden;

    .site-header {
        @apply bg-white;

        .logo-light {
            @apply hidden #{!important};
        }

        .logo-dark {
            @apply block #{!important};
        }

        .logo-img,
        .nav-right a,
        .nav-right button,
        .sub-menu-toggle-button,
        .sub-menu a,
        li a {
            &:focus-within {
                outline: 1px dashed #000;
            }
        }

        #burger-icon,
        #main-menu .main-menu-wrapper > ul li a,
        #main-menu .main-menu-wrapper > ul li .menu-item-with-arrow .sub-menu-toggle-button .material-icons-round {
            @apply text-black #{!important};
        }
    }
}
