#main-menu {
    ul.sub-menu {
        counter-reset: menu;
        @apply flex-col hidden py-2.5 left-0 opacity-0 bg-white text-black p-0 text-xl mb-3 pb-2 border-b border-gray-300 lg:flex-row lg:flex-wrap lg:absolute lg:max-w-[740] lg:w-[740px] lg:z-10 lg:left-0 lg:top-full lg:text-black lg:px-12 lg:pt-10 lg:pb-2;

        &.active {
            @apply flex opacity-100;
        }

        li.sub-level {
            @apply p-0 m-0 lg:w-1/2 lg:mb-8;

            & > a {
                @apply flex-col items-start lg:mr-4;

                .sub-menu-title {
                    @apply text-xl font-bold text-black lg:text-2xl;

                    &::before {
                        counter-increment: menu;
                        content: '0' counter(menu) ' /';
                        @apply text-[#9147F2] mr-2.5;
                    }
                }

                .sub-menu-description {
                    @apply font-sans text-base text-black normal-case opacity-60;
                }

                &:active,
                &:focus {
                    outline: 1px dashed #000;
                }
            }
        }
    }
}
